.sidenav{
    background-color: #222d32;
    color: #e3e3e3;
    padding-top: 65px;
    height: 2745px;
    width: 250px;
    position: absolute;
    margin-left: 0%;
}

#current{
    background-color:#3c8dbc;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }